h1{
    text-align: center;
}

.credit{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
}

/* Holds the two color containers: main color and secondary color */
.color-display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The squares that display the colors */
.main-color-display, .secondary-color-display {
    font-size: 2em;

    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;

    /* width: 350px;
    height: 350px; */

    width: 80vw; /* Use viewport width for responsive width */
    max-width: 300px; /* Optional: limit the maximum width */
    height: 80vw; /* Use viewport width for responsive height */
    max-height: 275px; /* Optional: limit the maximum height */


    display: flex;
    /* place all content in the middle of the x-axis */
    justify-content: center; 

    /* place item in the cross section of the x- & y-axis */
    align-items: center;

    margin-bottom: 25px;
}

/* Color name */
.text-color{
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

#generate-button{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    padding: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(198, 193, 193);
}

/* generate button hover effect */
#generate-button:hover{
    background-color: rgb(122, 122, 122)  ;
}